h1 {
    color:red;
}

h2 {
    color: blue;
}

p {
    background-color: red;
    font-weight: bold;
    font-size: 40px;
}

.h4_underline {
    text-decoration: underline;
}

li {
    font-style: italic;
}